@font-face {
  font-family: 'Press Start 2P';
  src: url('../app/style/fonts/PressStart2P-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Material Icons';
  src: url('../app/style/fonts/MaterialIcons-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
