@import 'variables';

* {
  font-family: 'Press Start 2P', sans-serif;
}

body {
  margin: 0;
  overflow: hidden;
}

.overflow-mask {
  background-color: $black;
  color: $white;
  display: flex;
  height: 100vh;
  justify-content: center;
  margin: 0;
  overflow: hidden;
  position: relative;
  touch-action: manipulation;
}

.backdrop {
  position: absolute;
  visibility: hidden;
}

.fps-display {
  position: absolute;
  right: 10px;
  top: 10px;
  // visibility: hidden;
}

.preload-div {
  align-items: baseline;
  bottom: 0;
  display: flex;
  flex-wrap: wrap-reverse;
  position: absolute;
  visibility: hidden;
}

.header-buttons {
  padding: 2rem 3rem;
  width: calc(100vw - 6rem);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1.5rem;

  a {
    font-family: none;
    display: inline-block;
  }

  img {
    height: 4rem;
  }

  button {
    background: none;
    border: 0;
    color: $white;
    cursor: pointer;
    outline: none;
    padding: 0;

    .material-icons {
      font-size: 40px;
    }
  }
}

.sirus-button {
  background-color: $sirus-orange;
  border: 5px solid $black;
  border-radius: 10px;
  box-shadow: 5px 5px $sirus-blue;
  color: $logo-black;
  cursor: pointer;
  outline: none;
  padding: 16px;

  &:active {
    box-shadow: none;
    transform: translateX(5px) translateY(5px);
  }

  &:disabled {
    cursor: default;
  }
}

.paused-text {
  align-items: center;
  display: flex;
  font-size: 50px;
  height: 100%;
  justify-content: center;
  left: 0;
  position: absolute;
  user-select: none;
  visibility: hidden;
  width: 100%;
  z-index: 1;
}

.game-ui {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;

  .one-up {
    animation: blink 0.6s infinite;
  }

  @keyframes blink {
    0% {
      opacity: 0;
    }
    49% {
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
  }

  .row {
    display: flex;
  }

  .top {
    ._25 {
      width: 25%;
    }

    ._50 {
      width: 50%;
    }

    .column {
      :first-child {
        text-align: center;
      }

      :not(:first-child) {
        margin-right: calc(50% - 3em);
        text-align: right;
      }
    }
  }

  .bottom {
    justify-content: space-between;

    .extra-lives {
      align-items: flex-start;
      display: flex;
    }

    .fruit-display {
      display: flex;
      flex-direction: row-reverse;
    }
  }
}

.loading-cover {
  background: $black;
  height: 100vh;
  position: absolute;
  top: 0;
  width: 50vw;
  z-index: 4;
}

.left {
  left: 0;
  transition: left $generic-duration ($generic-duration);
}

.right {
  right: 0;
  transition: right $generic-duration ($generic-duration);
}

.main-menu-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100%;
  left: 0;
  opacity: 0;
  position: absolute;
  transition: opacity 0.25s;
  visibility: hidden;
  width: 100%;
  z-index: 5;
}

.sirus-logo {
  position: absolute;
  top: 2rem;
  left: 3rem;

  img {
    height: 4rem;
  }
}

.open-leaderboard {
  position: absolute;
  top: 2rem;
  right: 3rem;
  font-size: 24px;
}

@media only screen and (max-width: 600px) {
  .open-leaderboard {
    scale: 0.5;
  }
}

.main-menu-text {
  text-align: center;
  max-width: 80vw;

  .text-large {
    font-size: 96px;
    margin-top: 12vh;
    margin-bottom: 5vh;
  }

  .text-small {
    font-size: 32px;
    margin-bottom: 12vh ;
    color: $sirus-blue;
  }

  @media screen and (max-width: 720px) {
    .text-large {
      font-size: 14vw;
    }
    
    .text-small {
      font-size: 5vw;
    }
  }
}

.logo {
  width: 800px;
  max-width: 80vw;
}

.open-player-info {
  font-size: 48px;
  margin-bottom: 16vh;
}

@media only screen and (max-width: 600px) {
  .open-player-info {
    scale: 0.7;
  }
}

.player-info-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  backdrop-filter: blur(5px);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease;
  z-index: 12;

  .player-info {
    display: flex;
    flex-direction: column;
    // height: 70vh;
    // width: 60%;
    padding: 48px;
    background-color: $black;
    border: 5px solid $sirus-orange;
    border-radius: 10px;
    box-shadow: 5px 5px $sirus-blue;
    transform: scale(0);
    opacity: 0;
    transition: transform 0.3s ease, opacity 0.3s ease;
    transform-origin: center;

    .close-player-info {
      position: absolute;
      top: 1rem;
      right: 1rem;
      font-size: 24px;
    }

    p {
      font-size: 24px;
    }

    input {
      font-size: 24px;
      margin-bottom: 24px;
    }

    .play-game {
      font-size: 48px;
      align-self: center;

      &:disabled {
        background-color: lightgray;
        box-shadow: none;
        transform: translateX(5px) translateY(5px);
      }
    }
  }
}

.player-info-backdrop.show {
  opacity: 1;
  pointer-events: auto;

  .player-info {
    transform: scale(1);
    opacity: 1;
  }
}

.player-info-backdrop.hidden {
  display: none !important;
  opacity: 0 !important;
  pointer-events: none !important;
}

.loading-container {
  background-color: $black;
  border: 5px solid $sirus-blue;
  border-radius: 10px;
  height: 48px;
  position: absolute;
  top: 50%;
  transition: opacity $generic-duration $loading-pacman-duration;
  width: 500px;
  z-index: 5;
}

@media only screen and (max-width: 600px) {
  .loading-container {
    transform: scale(0.5);
  }
}

.loading-pacman {
  animation: loading-animation 0.3s steps(4) infinite;
  background-color: $black;
  background-image: url('../app/style/graphics/spriteSheets/characters/pacman/sirusman_right.svg');
  background-size: 192px;
  border-radius: 10px;
  height: 48px;
  position: absolute;
  transition: left $loading-pacman-duration;
  width: 48px;
  z-index: 6;
}

@keyframes loading-animation {
  100% {
    background-position: -192px;
  }
}

.loading-dot-mask {
  background-color: $black;
  border-radius: 10px;
  height: 48px;
  left: 0;
  position: absolute;
  top: 0;
  transition: width $loading-pacman-duration;
  z-index: -1;
}

.loading-dot {
  background-image: url('../app/style/graphics/spriteSheets/pickups/sirusdot_orange.svg');
  height: 6px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 6px;
  z-index: -2;
}

._5 {
  left: 5%;
}
._10 {
  left: 10%;
}
._15 {
  left: 15%;
}
._20 {
  left: 20%;
}
._25 {
  left: 25%;
}
._30 {
  left: 30%;
}
._35 {
  left: 35%;
}
._40 {
  left: 40%;
}
._45 {
  left: 45%;
}
._50 {
  left: 50%;
}
._55 {
  left: 55%;
}
._60 {
  left: 60%;
}
._65 {
  left: 65%;
}
._70 {
  left: 70%;
}
._75 {
  left: 75%;
}
._80 {
  left: 80%;
}
._85 {
  left: 85%;
}
._90 {
  left: 90%;
}
._95 {
  left: 95%;
}

.error-message {
  color: $logo-black;
  opacity: 0;
  position: absolute;
  top: 30vh;
  transition: opacity $generic-duration;
  visibility: hidden;
  width: 50vw;
  z-index: 4;

  .error-pacman {
    animation: error-animation 1.5s steps(12) infinite;
    background-image: url('../app/style/graphics/spriteSheets/characters/pacman/pacman_error.svg');
    background-size: 576px;
    height: 48px;
    margin-left: 10px;
    width: 48px;
    z-index: 6;
  }

  @keyframes error-animation {
    100% {
      background-position: -576px;
    }
  }

  .header {
    display: flex;
    font-size: 50px;
    margin-bottom: 30px;
  }

  .body {
    font-size: 20px;
    line-height: 1.25;
  }
}

.leaderboard {
  position: fixed;
  align-items: center;
  display: flex;
  flex-direction: column;
  z-index: 10;
  top: -100vh;
  width: 100vw;
  height: 100vh;
  background-color: $black;
  color: $white;
  transition: none;
  
  .close-leaderboard {
    position: absolute;
    top: 2rem;
    right: 3rem;
    font-size: 24px;
  }

  .leaderboard-title {
    font-size: 64px;
    margin-top: 8vh;
    margin-bottom: 8vh;
  }

  .leaderboard-container {
    overflow: auto;
    height: 70vh;
    width: 60%;
    border: 5px solid $sirus-orange;
    border-radius: 10px;
    box-shadow: 5px 5px $sirus-blue;
    scrollbar-color: $sirus-blue $sirus-orange;
    scrollbar-width: thin;

    .leaderboard-table {
      width: 100%;
      font-size: 32px;

      th {
        position: sticky;
        background-color: $black;
        top: 0;
        z-index: 11;
        font-weight: normal;
        padding: 24px 16px;
      }

      .name-col {
        width: 100%;
        text-align: left;
      }

      .score-col {
        white-space: nowrap;
        text-align: right;
      }

      td {
        padding: 16px;
      }

      tr.most-recent {
        color: red;
      }
    }
  }
}

.leaderboard.show {
  top: 0;
}

.leaderboard.animate {
  transition: top $generic-duration ease-in-out;
}
